@charset "UTF-8";
//思考row这个类存在的意义，boot里面他只有margin-left和margin-right是负值，以及清除浮动的作用
$common-gap :20px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  border:1px solid #999;
  padding: $common-gap;
  padding-top: 0;
  //清除浮动
  //overflow: hidden;
}
//清除浮動方法一
//.clear{
//  clear: both;
//}
.row{
  margin-left: -#{$common-gap};
}
.row:after{
  content: '';
  display: block;
  clear: both;
}
div[class*='col-']{
  border: 2px solid #999;
  height: 50px;
  background: #eee;

  margin-top: $common-gap;
  margin-left: $common-gap;

  float: left;
}

@mixin col-layout($gridsize,$gridcols){
  @for  $i from 1 through $gridcols{
    .col-#{$gridsize}-#{$i}{
      width:calc(100% / 12 * #{$i} - #{$common-gap});
    }
  }
}

@media screen and (min-width:768px){
  @include col-layout(md,12);
}
@media screen and (max-width:768px) {
  @include col-layout(sm,12);
}