@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  background: #8699A4;
  padding-bottom: 20px;
  overflow: hidden;
}
//清除浮動方法一
//.clear{
//  clear: both;
//}
div[class*='col-']{
  border: 2px solid #999;
  height: 50px;
  background: #eee;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
@media screen and (min-width:768px){
  .col-md-1{
    width: 8.33%;
  }
  .col-md-2{
    width: 16.67%;
  }
  .col-md-3{
    width: 25%;
  }
  .col-md-4{
    width: 33.33%;
  }
  .col-md-5{
    width: 41.67%;
  }
  .col-md-6{
    width: 50%;
  }
  .col-md-7{
    width: 58.33%;
  }
  .col-md-8{
    width: 66.67%;
  }
  .col-md-9{
    width: 75%;
  }
  .col-md-10{
    width: 83.33%;
  }
  .col-md-11{
    width: 91.67%;
  }
  .col-md-12{
    width: 100%;
  }
}
@media screen and (max-width:768px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.67%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.67%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.60%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.67%;
  }

  .col-sm-12 {
    width: 100%;
  }
}