@charset "UTF-8";
//思考row这个类存在的意义，boot里面他只有margin-left和margin-right是负值，以及清除浮动的作用
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  background: #8699A4;
  padding: 20px;
  padding-top: 0;
  //清除浮动
  //overflow: hidden;
}
//清除浮動方法一
//.clear{
//  clear: both;
//}
.row{
  margin-left: -20px;
}
.row:after{
  content: '';
  display: block;
  clear: both;
}
div[class*='col-']{
  border: 2px solid #999;
  height: 50px;
  background: #eee;

  margin-top: 20px;
  margin-left: 20px;

  float: left;
}
@media screen and (min-width:768px){
  .col-md-1{
    width: calc(8.33% - 20px);
  }
  .col-md-2{
    width: calc(16.67% - 20px);
  }
  .col-md-3{
    width: calc(25% - 20px);
  }
  .col-md-4{
    width: calc(33.33% - 20px);
  }
  .col-md-5{
    width: calc(41.66% - 20px);
  }
  .col-md-6{
    width: calc(50% - 20px);
  }
  .col-md-7{
    width: calc(58.33% - 20px);
  }
  .col-md-8{
    width: calc(66.67% - 20px);
  }
  .col-md-9{
    width: calc(75% - 20px);
  }
  .col-md-10{
    width: calc(83.33% - 20px);
  }
  .col-md-11{
    width: calc(91.67% - 20px);
  }
  .col-md-12{
    width: calc(100% - 20px);
  }
}
@media screen and (max-width:768px) {
  .col-sm-1{
    width: calc(8.33% - 20px);
  }
  .col-sm-2{
    width: calc(16.67% - 20px);
  }
  .col-sm-3{
    width: calc(25% - 20px);
  }
  .col-sm-4{
    width: calc(33.33% - 20px);
  }
  .col-sm-5{
    width: calc(41.67% - 20px);
  }
  .col-sm-6{
    width: calc(50% - 20px);
  }
  .col-sm-7{
    width: calc(58.33% - 20px);
  }
  .col-sm-8{
    width: calc(66.66% - 20px);
  }
  .col-sm-9{
    width: calc(75% - 20px);
  }
  .col-sm-10{
    width: calc(83.33% - 20px);
  }
  .col-sm-11{
    width: calc(91.67% - 20px);
  }
  .col-sm-12{
    width: calc(100% - 20px);
  }
}