@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  border: 1px solid #999;
  padding: 20px;
  padding-bottom: 0;
  //定义布局方式flex
  display: flex;
  //定义横向还是竖向摆放
  flex-direction: row;
  //当目前宽度不够时，是换行显示还是缩小item
  flex-wrap:wrap;
  //设置对齐方式，功能和text-align目的是一样的，他高级一点
  justify-content: space-between;
  //用来设置标齐方式
  //align-items: center;
}
@media screen and (min-width:640px){
  .main{
    align-items: center;
  }
}
@media screen and (max-width:640px){
  .main{
    align-items: flex-start;
  }
  .the200{
    order: 1;
  }
  .the120{
    order: 2;
  }
  .the100{
    order: 3;
  }
  .the40{
    order: 4;
  }
}
.flex-item{
  border: 1px solid red;
  width:150px;

  margin-bottom: 20px;
}
.the120{
  height:120px;
}
.the100{
  height:100px;
}
.the40{
  height:40px;
}
.the200{
  height:200px;
}